.l-body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.l-container {
  width: 100%;
  max-width: 102.4rem;
  padding-right: 5.8rem;
  padding-left: 5.8rem;
  margin-right: auto;
  margin-left: auto;
}
