.l-body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.l-container {
  width: 100%;
  max-width: 102.4rem;
  padding-right: 3rem;
  padding-left: 3rem;
  margin-right: auto;
  margin-left: auto;

  @media (width >=1024px) {
    padding-right: 5.8rem;
    padding-left: 5.8rem;
  }
}

.l-container-setback {
  @media (width >=1024px) {
    margin-left: 17.2rem;
  }
}

.l-wrapper {
  display: grid;
  grid-template-rows: 1fr auto;
  min-height: 100dvh;
}
