.c-heading-primary {
  font-size: 2.6rem;
  color: $color-primary;

  &.c-heading-primary--cta {
    font-size: 2.2rem;
  }
}

.c-heading-primary-sub {
  display: inline-block;
  margin-left: -3rem;
  font-size: 1.4rem;
  line-height: 1;
  color: $color-quaternary;
  transform: rotate(90deg);
  transform-origin: left bottom;
  text-orientation: upright;
}

.c-heading-secondary {
  font-size: 3rem;
  color: $color-secondary;
}

// .c-heading {
//   font-family: $font-heading;
//   font-weight: $font-weight-heading;
//   line-height: $line-height-heading;
//   color: $color-heading;

//   &--primary {
//     color: $color-primary;
//   }

//   &--secondary {
//     color: $color-secondary;
//   }

//   &--tertiary {
//     color: $color-tertiary;
//   }

//   &--quaternary {
//     color: $color-quaternary;
//   }

//   &--quinary {
//     color: $color-quinary;
//   }
// }
