<div class="">
  <p><img src="https://placehold.co/1920x480?text=Item" alt="" /></p>
  <p><img src="https://placehold.co/1920x480?text=Figure" alt="" class="mt-8" /></p>
  <ul class="mt-8">
    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, et.</li>
  </ul>
</div>
