.p-cta {
  padding-top: 6.4rem;
  padding-bottom: 6.4rem;
  background: #fff url('../images/cta-bg.png') center;
  background-size: 1024px;
}

.p-cta__heading {
  margin-bottom: 3.2rem;
  text-align: center;
}

.p-cta__buttons {
  display: grid;
  gap: 3.2rem;

  @media (width >=768px) {
    grid-template-columns: 27.7rem 27.7rem;
    justify-content: center;
  }
}

.p-cta__description {
  margin-top: 3.2rem;
  font-size: 1.8rem;
  line-height: 1.75;
  text-align: center;

  @media (width >=768px) {
    font-size: 2.2rem;
    line-height: 2;
  }
}

.p-cta__coming-soon {
  margin-bottom: 0.4rem;
  font-family: var(--font-sans-latin);
  font-size: 1.4rem;
  color: $color-primary;
  text-align: center;
}

.p-cta__border {
  background: linear-gradient(transparent 80%, #eeece6 80%);
}

.p-cta__release-date {
  margin-right: -3rem;
  margin-bottom: 3.2rem;
  margin-left: -3rem;
  font-size: 2.2rem;
  text-align: center;

  @media (width >=375px) {
    font-size: 2.6rem;
  }
}
