.p-mv {
  margin-top: $heiht-mv;

  @media (width >=1024px) {
    margin-top: unset;
  }
}

.p-mv__inner {
  position: relative;
  margin-right: 3rem;

  @media (width >=1024px) {
    margin-right: unset;
  }
}

.p-mv__logo {
  position: absolute;
  top: -2.2rem;
  left: 1.5rem;
  z-index: 1000;
  width: 3.8rem;

  @media (width >=1024px) {
    position: fixed;
    top: 48px;
    left: calc(50% - 464px);
    z-index: 1;
  }
}

.p-mv__visual {
  position: relative;
}

.p-mv__catch {
  position: absolute;
  top: 4.4rem;
  right: 2.3rem;
  z-index: 1;
  width: 100%;
  width: fit-content;
  font-family: var(--font-mincho);
  font-size: 2.2rem;
  line-height: math.div(38, 22);
  color: #fff;

  @media (width >=1024px) {
    top: 50%;
    right: unset;
    right: calc(50% + 27.5rem);
    left: 11.6rem;
    left: unset;
    font-size: 3rem;
    line-height: math.div(46, 30);
    color: $color-primary;
    transform: translateY(-50%);
  }
}

.p-mv__image-container {
  display: block;
  width: 100%;

  @media (width >=1024px) {
    max-width: calc(50% + 15.7rem);
    margin-left: auto;
  }
}

.p-mv__image {
  @media (width >=1024px) {
    // overflow: hidden;
  }

  img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
  }
}
