.p-careflow {
  padding-top: 10.8rem;
  text-align: center;
}

.p-careflow__intro {
  // property: value;
}

.p-careflow__text {
  // property: value;
}

.p-careflow__columns {
  display: grid;
  gap: 5.6rem;
  max-width: 67.5rem;
  margin: 0 auto;
  margin-top: 3.8rem;
}

.p-careflow__column {
  // property: value;
}

.p-careflow__heading {
  display: grid;
  align-items: center;
  height: 4.2rem;
  font-size: 1.4rem;
  color: $color-primary;
  background-color: #f8f8f8;
}

.p-careflow__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3.2rem;
  margin-top: 2.4rem;
}

.p-careflow__item {
  position: relative;
  display: flex;
  flex-direction: column;
  grid-template-rows: auto auto auto;
  gap: 1.6rem;
  justify-content: center;
  justify-content: flex-start;
  padding: 2.4rem 1.6rem;
  border: 1px solid $color-senary;

  &::after {
    position: absolute;
    top: 2.4rem;
    right: -3.2rem;
    width: 3.2rem;
    height: 0;
    content: '';
    border-bottom: 1px dashed $color-senary;
  }

  &:last-child::after {
    content: none;
  }
}

.p-careflow__step {
  top: 2.4rem;
  left: 1.6rem;
  color: $color-octonary;

  &.p-careflow__step--absolute {
    position: absolute;
  }
}

.p-careflow__icon {
  margin: auto;
}

.p-careflow__description {
  font-family: var(--font-mincho);
  font-size: 1.6rem;
}

.p-careflow__note {
  // property: value;
}

.p-careflow__conclusion {
  // property: value;
}
