.p-site-wrapper {
  width: 100%;
  min-height: 100vh;
  margin-right: auto;
  margin-left: auto;
  background-color: white;
}

.p-main {
  // proparty: value;
}

.p-header {
  position: relative;
  padding: 1rem;
}

.p-fv {
  background: #fff;
}

.p-concept {
  background: #fff;
}

.p-damage-solution {
  background: $color-quinary;
}

.p-points {
  background: #fff;
}

.p-cta {
  background: $color-quaternary url('../images/cta-bg.png') center;
  background-size: 1024px;
}

.p-trouble {
  background-color: #fff;
}

.p-damage-awareness {
  background-color: #fff;
}

.p-how-to-use {
  background-color: #fff;
}

.p-product {
  // proparty: value;
}
