.p-main {
  // proparty: value;
}

.p-header {
  // position: relative;
  // padding: 1rem;
}

.p-fv {
  background: #fff;
}

.p-concept {
  background: #fff;
}

.p-damage-solution {
  background: $color-quinary;
}

.p-points {
  background: #fff;
}

.p-trouble {
  background-color: #fff;
}

.p-damage-awareness {
  background-color: yellow;
}

.p-how-to-use {
  background-color: #fff;
}
