.p-qa {
  display: block;
  padding-top: 10.52rem;
  padding-bottom: 12rem;
}

.p-qa__hgroup {
  position: relative;
  width: fit-content;
  margin: 0 auto 7.9rem;

  .c-heading-2 {
    margin-left: 0;
  }

  .c-heading-2-sub {
    margin-right: auto;
    margin-left: auto;
  }
}

// ACCORDION
.p-qa__accordion {
  margin-top: 7.2rem;
  margin-bottom: 5.6rem;
}

.p-qa__details {
  position: relative;
  font-size: 1.4rem;

  @media (width >=768px) {
    font-size: 1.6rem;
  }
}

.p-qa__details__summary {
  position: relative;
  display: block;
  padding: 2.4rem 3.2rem;
  margin: 0;
  color: $color-secondary;
  cursor: pointer;
  border-top: 1px solid $color-quaternary;

  &::-webkit-details-marker {
    display: none;
  }

  &::before {
    position: absolute;
    top: 50%;
    left: 0;
    display: inline-block;
    font-weight: 400;
    line-height: 1;
    content: 'Q.';
    transform: translateY(-50%);
  }

  .p-qa__details__summary__arrow {
    position: absolute;
    top: 0;
    right: 0.8rem;
    bottom: 0;
    box-sizing: border-box;
    display: block;
    width: 0.8rem;
    height: 0.8rem;
    margin: auto;
    transition: transform 0.3s ease-in-out;
    transform: rotate(45deg);

    &::before,
    &::after {
      position: absolute;
      display: block;
      width: 0.7rem;
      height: 0.7rem;
      content: '';
    }

    &::before {
      background-color: black;
    }

    &::after {
      top: 0.1rem;
      left: 0.1rem;
      background-color: white;
    }

    @media (width >=768px) {
      right: 2.4rem;
    }

    .p-qa__details[open] & {
      content: '-';
      transform: rotate(225deg);
    }
  }
}

.p-qa__details__content {
  position: relative;
  padding-right: 3.2rem;
  padding-left: 6.4rem;
  overflow: hidden;
  font-size: 1.4rem;
  line-height: math.div(22, 14);
  color: $color-senary;

  > * {
    margin: 0;

    &:last-child {
      padding-bottom: 2.4rem;
    }
  }

  &::before {
    position: absolute;
    top: 0.4rem;
    left: 3.2rem;
    display: inline-block;
    font-weight: 400;
    line-height: 1;
    content: 'A.';
  }
}

// /ACCORDION
